@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hilbert's Hotel</h1>
    <p class="lead">Hilbert's Hotel is a thought experiment which illustrates a counterintuitive property of infinite sets. It is demonstrated that a fully occupied hotel with infinitely many rooms may still accommodate additional guests, even infinitely many of them, and this process may be repeated infinitely often.</p>
    <p><a href="https://en.wikipedia.org/wiki/Hilbert%27s_paradox_of_the_Grand_Hotel" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Hilbert's Hotel</h2>
        <p>
            Enjoy our literally endless ammount of hotel rooms!
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Hilbert%27s_paradox_of_the_Grand_Hotel">Learn more &raquo;</a></p>
    </div>
  